html {
    background-color: rgba(55, 55, 59);
    font-family: 'Roboto', sans-serif;
    display: flex;
    flex-direction: column;
}

/* ----------Tab---------- */
.tab-button {
    background-color: transparent;
    border: transparent;
    font-size: 1.3em;
    margin: 0 5px 0 5px;
    color: blanchedalmond;
}

.tab-button:hover {
    background-color: rgba(255, 255, 255,0.3);
    transition: all .4s ease;
}

.tab-panel {
    display: flex;
    justify-content: center;
    overflow:hidden;
    position: fixed;
    top: 0;
    width: 100%;
    background-color: rgba(255, 255, 255, 0.3);
    z-index: 2;
}

/* ----------Home---------- */
.image-container {
    position: relative;
    overflow: hidden;
    text-align: center;
    color: white;
    z-index: 1;
    margin-top: 2%;
}


#home-image1 {
    width: 50%;
    height: auto;
    opacity: 0.4;
    border-bottom: 5px solid red;
}


.centered {
    font-family: 'Estonia', cursive;
    font-weight: bold;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    line-height: 2.5rem;
    font-size: 2rem;
    color: blanchedalmond;
    padding: 0 1% 0 1%;
}

.card-description {
    font-size: 1.5em;
}

.information-card {
    color: blanchedalmond;
    text-align: center;
    margin: 0 5% 0 5%;
    font-weight: bold;
}

.information-card-container {
    display: flex;
    flex-direction: row;
    justify-content:center;
    flex-wrap: wrap;
}

pre {
    font-family: 'Estonia', cursive;
}

@media only screen and (max-width: 600px) {
    #home-image1 {
        height: 75vh;
        width: auto;
    }
    .centered {
        line-height: 1.5rem;
        font-size: 1.2rem;
    }
}

/* ----------Menu---------- */
#menu-image1 {
    width: 50%;
    height: auto;
    opacity: 0.4;
    border-bottom: 5px solid red;
}

@media only screen and (max-width: 600px) {
    #menu-image1 {
        width: 100%;
    }
}