html {
    background-color: rgba(55, 55, 59);
    font-family: 'Roboto', sans-serif;
    display: flex;
    flex-direction: column;
}

/* ----------Tab---------- */
.tab-button {
    background-color: transparent;
    border: transparent;
    font-size: 1.3em;
    margin: 0 5px 0 5px;
    color: blanchedalmond;
}

.tab-button:hover {
    background-color: rgba(255, 255, 255,0.3);
    transition: all .4s ease;
}

.tab-panel {
    display: flex;
    justify-content: center;
    overflow:hidden;
    position: fixed;
    top: 0;
    width: 100%;
    background-color: rgba(255, 255, 255, 0.3);
    z-index: 2;
}

/* ----------Home---------- */
.image-container {
    position: relative;
    overflow: hidden;
    text-align: center;
    color: white;
    z-index: 1;
    margin-top: 2%;
}


#home-image1 {
    width: 50vw;
    height: auto;
    opacity: 0.4;
    border-bottom: 5px solid red;
}


.centered {
    font-family: 'Estonia', cursive;
    font-weight: bold;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    line-height: 2.5rem;
    font-size: 2rem;
    color: blanchedalmond;
    padding: 0 1% 0 1%;
}

.card-description {
    font-size: 1.5em;
}

.information-card {
    color: blanchedalmond;
    text-align: center;
    margin: 0 5% 0 5%;
    font-weight: bold;
}

.information-card-container {
    display: flex;
    flex-direction: row;
    justify-content:center;
    flex-wrap: wrap;
}

pre {
    font-family: 'Estonia', cursive;
}

@media only screen and (max-width: 600px) {
    #home-image1 {
        height: 75vh;
        width: auto;
    }
    .centered {
        line-height: 1.5rem;
        font-size: 1.5rem;
    }
}

/* ----------Menu---------- */
#menu-image1 {
    width: 50%;
    height: auto;
    opacity: 0.4;
    border-bottom: 5px solid red;
}

.food-name {
    font-family: 'Estonia', cursive;
    text-align: center;
    color: blanchedalmond;
}

.food-card-name-container {
    min-height: 10vh;
}

.food-image {
    width: 100%;
}

.food-card {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 25vw;
}

.food-card-container {
    display: flex;
    flex-direction: row;
    justify-content:space-evenly;
    flex-wrap: wrap;
}

hr.fancy-line { 
    border: 0; 
    height: 1px;
    position: relative;
    margin: 0.5em 0;
}
hr.fancy-line:before {
    top: -0.5em;
    height: 1em;
}
hr.fancy-line:after {
    content:'';
    height: 0.5em;
    top: 1px;
}

hr.fancy-line:before, hr.fancy-line:after {
    content: '';
    position: absolute;
    width: 100%;
}

hr.fancy-line, hr.fancy-line:before {
    background: -moz-radial-gradient(center, ellipse cover, rgba(255, 255, 255, 0.89) 0%, rgba(238, 237, 237, 0) 75%);
    background: -webkit-gradient(radial, center center, 0px, center center, 75%, color-stop(0%,rgba(0,0,0,0.1)), color-stop(75%,rgba(0,0,0,0)));
    background: -webkit-radial-gradient(center, ellipse cover, rgba(255, 247, 247, 0.1) 0%,rgba(0,0,0,0) 75%);
    background: -o-radial-gradient(center, ellipse cover, rgba(255, 251, 251, 0.1) 0%,rgba(0,0,0,0) 75%);
    background: -ms-radial-gradient(center, ellipse cover, rgba(255, 255, 255, 0.1) 0%,rgba(243, 236, 236, 0) 75%);
    background: radial-gradient(ellipse at center, rgba(255, 255, 255, 0.1) 0%,rgba(252, 252, 252, 0) 75%);
}

@media only screen and (max-width: 600px) {
    #menu-image1 {
        height: 75vh;
        width: auto;
    }
    .food-card {
        width: 75vw;
    }
}